@charset "UTF-8";

@import "compass/css3";
@import "../../bower_components/normalize-scss/normalize";

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

//== Variables
$grey: #e7e7e7;

html {
  font-size:62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem; // =16px
}

ul {
  margin: 0;
  padding: 0;
}

.ang-sched-wrap {
  min-height: 362px;
  margin: 50px auto;
  overflow: hidden;
  padding: 10px 0;
  width: 952px;

  .outter-block-wrap {
    float: left;
    height: 372px;
    padding-bottom: 40px;
    position: relative;
    width: 100%;
  }

  .inner-block-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: stretch;
    bottom: 52px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 52px;
    width: 100%;
  }

  .block-wrap {
    float: left;
    padding: 0 10px;
  }

  .block-heading {
    float: left;
    font-size: 1.4rem;
    font-weight: normal;
    height: 52px;
    margin: 0;
    width: 136px;
  }

  .block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    float: left;
    width: 136px;

    .block-inner-wrap {
      background: $grey;
      padding: 10px;
      width: 100%;
    }

    &:nth-child(even) {
      .block-inner-wrap {
        background: lighten($grey, 5%);
      }
    }
  }

  .block-content {
    position: relative;
  }
}

.new-items {
  padding: 10px 10px 20px 10px;

  h4{
    margin: 0;
  }
}

.block-item {
  background: white;
  height: 30px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding: 10px;
}

$spans: 20;

@mixin span-x-list {
  @for $i from 1 through $spans {
    .span#{$i} {
      width: ($i * 232px) + (($i * 10px) - 10px);
    }
  }
}

@include span-x-list;

.placeholder {
  background: transparent;
}